<a href="https://colab.research.google.com/github/son50git/uploadFromColabs/blob/main/milestone_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
from google.colab import files

In [7]:
uploaded = files.upload()

Saving Phishing.csv to Phishing.csv

In [9]:
# Look at the data and understand the features of the data. The dataset is in a .csv format, 
# which can be loaded using the pandas library and the features 
# (the columns of the dataset) can also be extracted using pandas itself.

df = pd.read_csv("Phishing.csv")
df.head()

   having_IP_Address  URL_Length  ...  Statistical_report  Result
0                 -1           1  ...                  -1      -1
1                  1           1  ...                   1      -1
2                  1           0  ...                  -1      -1
3                  1           0  ...                   1      -1
4                  1           0  ...                   1       1

[5 rows x 31 columns]

In [20]:
from collections import Counter
counts = Counter()
for count in df["Result"]:
  counts[count] += 1

# print (counts) # Counter({1: 6157, -1: 4898})

ct_rpt = pd.DataFrame.from_dict(counts, orient='index').reset_index()
ct_rpt.columns = ['class', 'Num_Observations']
ct_rpt1 = ct_rpt
ct_rpt1['varname'] = "Result"
ct_rpt1 = ct_rpt1[['varname','class', 'Num_Observations' ]]
ct_rpt1

  varname  class  Num_Observations
0  Result     -1              4898
1  Result      1              6157

In [29]:
pd.unique(df['Result'])

array([-1,  1])

In [55]:
# convert -1 of Result into 0
df[df['Result']==-1]= 0
pd.unique(df['Result'])

array([0, 1])

In [56]:
# examine dtpes of all variable before detecting any missing values
# all numeric
df.dtypes

having_IP_Address              int64
URL_Length                     int64
Shortining_Service             int64
having_At_Symbol               int64
double_slash_redirecting       int64
Prefix_Suffix                  int64
having_Sub_Domain              int64
SSLfinal_State                 int64
Domain_registeration_length    int64
Favicon                        int64
port                           int64
HTTPS_token                    int64
Request_URL                    int64
URL_of_Anchor                  int64
Links_in_tags                  int64
SFH                            int64
Submitting_to_email            int64
Abnormal_URL                   int64
Redirect                       int64
on_mouseover                   int64
RightClick                     int64
popUpWidnow                    int64
Iframe                         int64
age_of_domain                  int64
DNSRecord                      int64
web_traffic                    int64
Page_Rank                      int64
Google_Index                   int64
Links_pointing_to_page         int64
Statistical_report             int64
Result                         int64
dtype: object

In [33]:
# see if there are any missing values
# none
df.isnull().sum()

having_IP_Address              0
URL_Length                     0
Shortining_Service             0
having_At_Symbol               0
double_slash_redirecting       0
Prefix_Suffix                  0
having_Sub_Domain              0
SSLfinal_State                 0
Domain_registeration_length    0
Favicon                        0
port                           0
HTTPS_token                    0
Request_URL                    0
URL_of_Anchor                  0
Links_in_tags                  0
SFH                            0
Submitting_to_email            0
Abnormal_URL                   0
Redirect                       0
on_mouseover                   0
RightClick                     0
popUpWidnow                    0
Iframe                         0
age_of_domain                  0
DNSRecord                      0
web_traffic                    0
Page_Rank                      0
Google_Index                   0
Links_pointing_to_page         0
Statistical_report             0
Result                         0
dtype: int64

In [ ]:
df.isnull().sum().sum()

0

In [57]:
# prepare ds for predictors
X = df.iloc[:,0:(df.shape[1]-1)]
X.shape

(11055, 30)

In [58]:
# prepare ds for target variable (=Result)
y = df.iloc[:,(df.shape[1]-1):]
y.head(5)

   Result
0       0
1       0
2       0
3       0
4       1

In [65]:
# data splits into train and test datasets
from sklearn.model_selection import train_test_split

# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 0, stratify = y)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(8844, 30)
(2211, 30)
(8844, 1)
(2211, 1)

In [66]:
# compare the target ratio after the split
from collections import Counter
counts = Counter()
for count in df["Result"]:
  counts[count] += 1

counts

Counter({0: 4898, 1: 6157})

In [67]:
from collections import Counter
counts = Counter()
for count in y_train["Result"]:
  counts[count] += 1

counts

Counter({0: 3918, 1: 4926})

In [68]:
from collections import Counter
counts = Counter()
for count in y_test["Result"]:
  counts[count] += 1

counts

Counter({0: 980, 1: 1231})